   *, *:before, *:after {
            box-sizing: border-box;
        }

        html {
            font-size: 14px;
        }

        body {
            height: 100vh;

     
        }

        .modal-container {
            
            padding-top: 60px;
            position: relative;
            max-width:100%;
            height: 50%;
            /*width:calc(20%);*/
            width:22%;
            height:90%;
           box-sizing:border-box;         
        }

         .modal-container .modal-backdrop {
                height: 0;
                width: 0;
                opacity: 0;
                overflow: hidden;
                opacity: 0.3;
            }

          .modal-container .modal-toggle {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                margin: 0;
                opacity: 0;
                cursor: pointer;  
            }

          .modal-container .modal-toggle:checked ~ .modal-backdrop {
                    background-color: rgba(0, 0, 0, 0.7);
                    width: 100vw;
                    height: 100vh;
                    position: fixed;
                    left: 0;
                    top: 0;
                    z-index: 900;
                    pointer-events: auto;
                    opacity: 1;
                }

          .modal-container .modal-toggle:checked ~ .modal-backdrop .modal-content {
                        background-color: #fff;
                        max-width:50%;
                        width: 50%;
                        height: auto;
                        /*padding: 10px 30px;*/
                        position: fixed;
                        left: calc(25%);
                        top: 20%;
                        border-radius: 4px;
                        z-index: 999;
                        pointer-events: auto;
                        cursor: auto;
                        
                    }

          .modal-container .modal-toggle:checked ~ .description {
                    display: none;
                }

        @media (max-width: 400px) {

            .modal-container .modal-toggle:checked ~ .modal-backdrop .modal-content {
                left: 0;
            }
        }

        .modal-container .modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close {
            color: white;
            position: fixed;
            right: 3%;
            top: 3%;
            /*background: white;*/
            background-color: transparent;
            font-size: 50px;
            text-align: center;
            cursor: pointer;
            z-index: 1000;
        }


        /*//////////////////////*/

        .big_img {
           
            align-items:center;
            max-width: 900px;
            max-height: 800px;
        }

        .description {
            
            display: block;
            width:100%;
            font-size: 1.5em;
            text-align:left;
            padding:3%;
            
        }


        /*.img2:not(:hover) ~ .description*/
        /*.modal-container > .modal-toggle:not(:hover) ~ .description*/
        .modal-container:not(:hover) .description {
            display: none;
        }

        /*.img2:hover ~ .description*/
        /*.modal-container > .modal-toggle:hover ~ .description*/
        .modal-container:hover .description {
            position: absolute;
            z-index: 6;
            width:100%;
            max-height: 1000px;
            max-width:1000px;
            display: normal;
            clear:both; 
            border-top:none;
            border-left:none;
            box-shadow: 5px 10px 18px #888888;
            background-color: white;
            align-items: flex-end;
            cursor: pointer;
        }

        .modal-container:hover
        {
            border-left:none;
            border-bottom:none;
            box-shadow: 5px 10px 18px #888888;
            background-color: white;
        }
        img {
     
            width:90%;
            max-height: 300px;
            max-width: 400px;
        }

        .slides {
            
            width: 100%;
            max-height:300px;
            top: 20%;
            position:absolute;
           
            align-items:center;
            align-items: flex-end;
            display: inline-block;
         
            box-sizing:border-box;
            z-index: 2;
        }

        .img {
            /*border: 1px solid black;*/
            z-index: 3;
            width:90%;
            height:90%;
        }

       div {
            
            display: inline-block;
           box-sizing:border-box;
        }

        .view2,
        .view3,
        .view4,
        .view1,
        .view5,
        .view6,
        .view7 {
            position: absolute;
            text-align:center;
            display:inline-block;
            width: inherit;
            height: inherit;
            z-index: 4;
            
        }


        #view1:checked ~ div:not(.view1) {
            display: none;
        }
        #view2:checked ~ div:not(.view2) {
            display: none;
        }
        #view3:checked ~ div:not(.view3) {
            display: none;
        }
        #view4:checked ~ div:not(.view4) {
            display: none;
        }
        #view5:checked ~ div:not(.view5) {
            display: none;
        }
        #view6:checked ~ div:not(.view6) {
            display: none;
        }
        #view7:checked ~ div:not(.view7) {
            display: none;
        }

        #view1 {
            position: absolute;
            top: 450px;
            left: 40%;
            z-index: 2;
            cursor: pointer;
        }
        #view2 {
            position: absolute;
          top: 450px;
            left: 42%;
            z-index: 2;
            cursor: pointer;
        }
        #view3 {
            position: absolute;
           top: 450px;
            left: 44%;
            z-index: 2;
            cursor: pointer;
        }
        #view4 {
            position: absolute;
          top: 450px;
            left: 46%;
            z-index: 2;
            cursor: pointer;
        }
        #view5 {
            position: absolute;
            top: 450px;
            left: 48%;
            cursor: pointer;
        }
        #view6 {
            position: absolute;
          top: 450px;
            left: 50%;
            cursor: pointer;
        }
        #view7 {
            position: absolute;
            top: 450px;
            left: 52%;
            cursor: pointer;
        }
         h1 {
            text-decoration: underline;
            font-family: 'Times New Roman', Times, serif;
            font-size:3em;
            margin-left:10px;
        }
         span{
             color:red;
         }